html {
  min-height: 100vh;
}
body {
  font-family: open sans-serif;
  font-weight: 300;
  background: linear-gradient(#f857a6, #ff5858);
}
.main {
  width: 500px;
  text-align: left;
  margin: auto;
  border: 2px solid;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
